.slide-5 {
	.bureaucracy {
		.slide-wrapper {
			margin: 50px 0 0 0;

			.slider-value {
				color: $text-color-tertiary;
				font-size: 13px;
			}

			.slider-headline {
				color: $text-color-tertiary;
				font-size: 13px;
				opacity: 0.4;
				margin: 0 100px 35px;
			}
		}
	}
}