.container {
	.welcome-message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 50vw;
		margin: 0 auto;

		@media only screen and (max-width: 835px) {
  			width: 100vw;
		}

		.logo {
			.logo_main {
				width: 340px;

				@media only screen and (max-width: 615px) {
                	width: 240px;
            	}
			}
		}

		.welcome-text {
    		margin: 0 auto;

    		.highlight {
    			font-family: $font-main-bold;
    			margin-bottom: 60px;
    		}

    		@media only screen and (max-width: 615px) {
            	margin: 0 40px;
            }
		}

		.name-input {
			display: block;
			width: 100%;
			background-color: transparent;
			border: 1px solid rgba(255, 255, 255, 1);
    		border-style: none none solid none;
    		font-size: 17px;
    		color: white;
    		text-align: center;
    		margin: 50px 0 50px;

    		@media only screen and (max-width: 835px) {
            	width: 70%;
            	margin: 50px auto;
            }
		}

		.start-button {
			border: 1px solid $text-color-primary;
		}
	}
}