// Colors
// $bg-color-primary: #5c85f1;
$bg-color-primary: #4885ed;
$bg-color-secondary: #ffffff;
$text-color-primary: #ffffff;
$text-color-secondary: #5c85f1;
$text-color-tertiary: #505050;

// Fonts
$font-main-regular: "Roboto-Regular";
$font-main-bold: "Roboto-Bold";
$font-main-light: "Roboto-Light";
