.wrapper {
	background-color: $bg-color-primary;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;

	.topmenu {
		.user-logged-in {
			display: block;
			margin: 0;
			width: 140px;
			position: absolute;
			right: 20px;
			top: 10px;
			cursor: pointer;

			span {
				position: absolute;
			    right: 0;
			    top: 67%;
			    transform: translateY(-50%);
			}

			.arrow {
				width: 16px;

			}
		}
	}

	.logo-fade {
		position: absolute;
		right: 0;
		height: 145vh;
		opacity: 0.08;
		top: 50%;
		transform: translateY(-50%);
	}

	.blue-dots {
		width: 960px;
	    transform: rotate(35deg);
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}

	.navbar {
		position: absolute;
		bottom: 35px;
		left: 50%;
		transform: translateX(-50%);

		.back-button {
			margin-right: 30px;
			background-color: transparent;
			border: 1px solid $text-color-primary;
			color: white;
		}

		.next-button {
			margin-left: 30px;
		}
	}
}
