.slide-12 {
	.futureproofing {
		.slide-wrapper {
			margin: 50px 0 0 0;

			.slider-value, .futureproofing-message {
				color: $text-color-tertiary;
				font-size: 13px;
			}

			.slider-headline {
				color: $text-color-tertiary;
				font-size: 13px;
				opacity: 0.4;
			}
		}

		@media only screen and (max-width: 1005px) {
            width: 60vw;
        }

        @media only screen and (max-width: 570px) {
            width: 80vw;
        }

        @media only screen and (max-width: 420px) {
            width: 100vw;
            height: 100vh;
        }
	}
}